<!-- <div class="info-page">
  <ul class="inner-info-box">
    <li class="list-info">
      <a href="/" class="info footer-tit">SHOES</a>
    </li>
    <li class="list-info">
      <a href="#" class="info">Privacy Statement</a>
    </li>
    <li class="list-info">
      <a href="#" class="info">Terms of service</a>
    </li>
  </ul>
  <p class="inner-copyright">
    Copyright &copy; Jeong Hee Yeon. All Rights Reserved.
  </p>
</div> -->

<div class="footer">
  <a href="http://facebook.com">
    <img src="https://cdn1.iconfinder.com/data/icons/social-media-set-for-free/32/facebook-512.png"height="30">
  </a>
  <a href="http://instagram.com">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"height="30">
  </a>
  <a href="http://twitter.com">
    <img src="https://cdn-icons-png.flaticon.com/256/2504/2504839.png"height="30">
  </a>
</div>