<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/wishlist.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Library Management (HNU)</title>
  </head>
  <body>
  <!-- Header -->
  <Header>
    <div class="inner">

      <ul class="menu">
        <li class="hnu-logo"><a href="./index.html">HNU</a></li>
        <li><a href="javascript:void(0)">베스트</a></li>
        <li><a href="javascript:void(0)">신상품</a></li>
        <li><a href="javascript:void(0)">이벤트</a></li>
        <li><a href="javascript:void(0)">국내도서</a></li>
        <li><a href="javascript:void(0)">외국도서</a></li>
        <li><a href="javascript:void(0)">eBook</a></li>
        <li><a href="javascript:void(0)">고객지원</a></li>
        <li class="search-starter"><a href="javascript:void(0)">검색</a></li>
        <li class="basket-starter">
          <a href="javascript:void(0)">장바구니</a>
          <div class="basket">
            <div class="arrow"></div>
            <div class="message">
              장바구니가 비어 있습니다.
            </div>
            <ul>
              <li><a href="./cart.html">장바구니</a></li>
              <li><a href="./wishlist.html">찜 목록</a></li>
              <li><a href="javascript:void(0)">주문</a></li>
              <li><a href="javascript:void(0)">계정</a></li>
              <li><a href="./login.html">로그인</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="search-wrap">
        <div class="search">
          <div class="shadow"></div>
          <div class="textfield">
            <input type="text" placeholder="Library Management 검색">
            <div class="search-icon"></div>
            <div class="search-closer"></div>
          </div>
          <div class="autocompletes">
            <h3>실시간 인기 검색어</h3>
            <ul>
              <li><a href="javascript:void(0)">한강</a></li>
              <li><a href="javascript:void(0)">다이어리</a></li>
              <li><a href="javascript:void(0)">소년이 온다</a></li>
              <li><a href="javascript:void(0)">유시민</a></li>
              <li><a href="javascript:void(0)">탁상달력</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="badges">
      <div class="badge">
        <img src="/static/images/badge1.png" alt="Bagde" />
      </div>
      <div class="badge">
        <img src="/static/images/badge2.png" alt="Bagde" />
      </div>
    </div>

  </Header>

    <!-- good -->
    <section class="wish-page">
      <div class="empty">
        <p>Your wish list is empty</p>
      </div>
      <ul class="wish-container"></ul>
    </section>

    <!-- footer -->
    <footer data-include-path="footer.html"></footer>

    <script type="module" src="/static/js/header.js"></script>
    <script type="module" src="/static/js/loadItem.js"></script>
    <script type="module" src="/static/js/wishList.js"></script>
  </body>
</html>
